{% apply spaceless %}

{% if data.enabled %}
  {% set attributes = create_attribute().setAttribute('id', 'oc-' ~ data.page) %}
  <div{{attributes}}></div>
  {# {% if data.page == 'inefficiencies' %}
      <link rel="stylesheet" type="text/css" href="{{ data.common_url }}/widgets/inefficiencies/bootstrap-italia@2/css/inefficiencies.css" />
    {% endif %} #}
  <link rel="stylesheet" href="{{ data.common_url }}/widgets/helpdesk/css/helpdesk.css" />
  <script>
    {% for item in data.variables %}
      {% set variable = item | split('|') %}
      window.{{ variable.0 }} = '{{ variable.1 }}';
    {% endfor %}
    window.OC_RENDER_BREADCRUMB = 'true';
  </script>
  <script src="{{ data.common_url }}{{ data.widget }}"></script>
{% else %}
  <h2>Configurare il modulo Open City Italia</h2>
{% endif %}

{% endapply %}
