<blockquote>
  <h2>{{ content.uo }}</h2>
  <div>Indirizzo:
    {{ content.uo_address }}</div>
  <div>Contatti:
    {{ content.uo_contacts }}</div>
  <div>
  {% for persona in content.persone %}
    <h3>{{ persona.name }}</h3>
    <h4><em>{{ persona.incarico }}</em></h4>
    <div>{{ persona.text }}</div>
  {% endfor %}
  </div>
</blockquote>
